# `build_from_dir` can't find Dockerfile when `.dockerignore` is "*"
# See https://github.com/swipely/docker-api/issues/484
# Ignore all folders except the one listed at the bottom of this file.
/.git/
/app/
/bin/
/builds/
/changelogs/
/config/
/coverage/
/danger/
/data/
/db/
/doc/
/ee/
/file_hooks/
/fixtures/
/gems/
/generator_templates/
/glfm_specification/
/haml_lint/
/jh/
/lib/
/locale/
/log/
/metrics_server/
/node_modules/
/patches/
/public/
/qa/
/rubocop/
/scripts/
/shared/
/sidekiq_cluster/
/spec/
/storybook/
/tmp/
/tooling/
/vendor/
/workhorse/

!/config/initializers/0_inject_enterprise_edition_module.rb
!/config/initializers/gitlab_security_addon.rb
!/config/feature_flags/
!/config/bundler_setup.rb
!/lib/gitlab_edition.rb
!/lib/gitlab/utils.rb
!/spec/support/fast_quarantine.rb
!/tooling/lib/tooling/fast_quarantine.rb
!/INSTALLATION_TYPE
!/VERSION
!/gems/
!/qa/
!/vendor/gems/

!/ee/app/models/license.rb
!/ee/config/feature_flags/

!/jh/qa/
!/jh/lib/
!/jh/config/feature_flags/

# Source Code Protection
!/config/initializers/gitlab_security_addon.rb
!/db/migrate/20240803000001_create_project_security_settings.rb
!/app/models/project_security_setting.rb
!/app/models/project.rb
!/lib/gitlab/git_access.rb
!/app/controllers/projects/repositories_controller.rb
!/app/controllers/projects/raw_controller.rb
!/app/services/projects/fork_service.rb
!/app/controllers/admin/projects_controller.rb
!/config/routes/admin.rb
!/app/views/admin/projects/show.html.haml
!/app/controllers/ide_controller.rb
